* {
    margin: 0 0 0 0;
    padding: 0;
}
#container {
    margin: 0 auto;
    width: 778px;
    text-align: left;
    position: relative;
    min-height: 100%; /* For Modern Browsers */
    height: auto !important; /* For Modern Browsers */
    height: 100%; /* For IE */ 
}
#head {
    width:778px; 
}
#banner {
    width:778px; 
    height:60px; 
}
.langenglish { width:72px;height:28px;background:url(../img/english.gif) no-repeat left top;}
.langchinese { width:72px;height:28px;background:url(../img/chinese.gif) no-repeat left top;}

#h1 {
    height:28px;
    padding-top:3px;
}
#h1 ul {
    list-style:none;
    margin:0 0 0 0;
}
#h1 li {
    float:left;
}
#h1 li a {
    display:block;
}
.h1_left { width:172px; height:28px; background-color:#69ce28;padding-left:10px;}
.h1_right { width:73px;height:26px; background-color:#80D549; position:absolute;left:700px; top:63px; padding-left:5px;padding-top:2px;}
.space { width:2px; height:28px;}


.h1_new {
    width:180px;
    min-height:270px;
    height:100%;
    padding:0 1px 0 1px;
    float:left;
    border:1px solid #c7c7c7;
}
.h1_new a:link { color: #000000;    text-decoration: none; }
.h1_new a:visited { color: #000000;    text-decoration: none; }
.h1_new a:active { color: #000000;    text-decoration: none; }
.h1_new a:hover { color: #000000;    text-decoration: none; }

table.menu { width:180px;}
table.menu tr {}
table.menu tr td.h1_top { height:1px;}
table.menu tr td.h1_mid {  }
table.menu tr td.h1_bottom { height:1px;}

.h1 { color:#000000; font-weight: bold;}
table.menu_table tr.h1 { color:#000000; font-weight: bold;} 
table.menu_table tr.h1 td.left { width:3px;height:25px;}
table.menu_table tr.h1 td.add { height:25px; border-bottom: 1px solid #c7c7c7;}
table.menu_table tr.h1 td.mid { padding-top:2px; border-bottom: 1px solid #c7c7c7;}
table.menu_table tr.h1 td.right { width:3px;}

.h1_s {color: white; font-weight: bold;}
table.menu_table tr.h1_s { color: white; font-weight: bold;} 
table.menu_table tr.h1_s td.left { width:3px;height:25px; background-color:#3d9e01;}
table.menu_table tr.h1_s td.add { height:25px; background-color:#3d9e01;}
table.menu_table tr.h1_s td.mid { background-color:#3d9e01; padding-top:2px;}
table.menu_table tr.h1_s td.right { width:3px; background-color:#3d9e01;}

table.menu_table { width:180px;}
table.menu_table tr.h2_content { }
table.menu_table tr.h2_content td.left { width:3px;height:25px;border-bottom: 1px solid #c7c7c7;}
table.menu_table tr.h2_content td.add { width:10px; height:25px; border-bottom: 1px solid #c7c7c7;}
table.menu_table tr.h2_content td.mid { padding:2px 0 0 12px; border-bottom: 1px solid #c7c7c7;}
table.menu_table tr.h2_content td.right { width:3px;border-bottom: 1px solid #c7c7c7;}

table.menu_table tr.h2_s {} 
table.menu_table tr.h2_s td.left { width:3px;height:25px; background-color:#b4e693;}
table.menu_table tr.h2_s td.add { height:25px; background-color:#b4e693;}
table.menu_table tr.h2_s td.mid { background-color:#b4e693; padding:2px 0 0 12px;}
table.menu_table tr.h2_s td.right { width:3px; background-color:#b4e693;}

table.menu_table tr.h3 { color: black; height:18px;} 
table.menu_table tr.h3 td.left { width:3px; border-bottom:1px solid #f9fff3;}
table.menu_table tr.h3 td.add { border-bottom:1px solid #f9fff3;}
table.menu_table tr.h3 td.mid { height:20px; padding-left:30px; border-bottom:1px solid #f9fff3;}
table.menu_table tr.h3 td.right { width:3px; border-bottom:1px solid #f9fff3;}

table.menu_table tr.h3_s { height:18px;} 
table.menu_table tr.h3_s td.left { width:3px;background-color:#e1f5d3; border-top:1px solid #f9fff3;}
table.menu_table tr.h3_s td.add { background-color:#e1f5d3; border-top:1px solid #f9fff3;}
table.menu_table tr.h3_s td.mid { height:20px; padding:2px 0 0 30px; background-color:#e1f5d3; border-top:1px solid #f9fff3;}
table.menu_table tr.h3_s td.right { width:3px;background-color:#e1f5d3; border-top:1px solid #f9fff3;}

table.menu_table tr.h2_space { height:30px;} 

table.menu_table tr.h2_help { height:20px;} 
table.menu_table tr.h2_help td.left { width:3px;}
table.menu_table tr.h2_help td.add { }
table.menu_table tr.h2_help td.mid_right { height:20px; text-align:right;}
table.menu_table tr.h2_help td.right { width:3px;}

table.menu_table tr.bghover, table.menu_table tr.bghover td { background-color:#ffc !important; COLOR: #3d9e01 !important;} 

.title { width:592px;height:26px;background-color:#dcdcdc;float:right;text-align:right;}
.title_left { width:452px;height:21px;float:left;text-align:left;}
.title_left { padding:5px 0 0 10px; /* FF */ }
*html .title_left { padding:7px 0 0 10px; /* IE6 */ }
*+html .title_left { padding:7px 0 0 10px; /* IE7 */ }

.title_lang {width:70px;height:21px;padding-top:2px;float:left;text-align:right;}
.title_log {width:60px;height:21px;float:left;text-align:right;position:absolute;top:0px;right:15px;}
.title_log { padding-top:5px; /* FF */ }
*html .title_log { padding-top:7px; /* IE6 */ }
*+html .title_log { padding-top:7px; /* IE7 */ }


.title a:link { color: #000000;    text-decoration: underline; }
.title a:visited { color: #000000;    text-decoration: underline; }
.title a:active { color: #000000;    text-decoration: underline; }
.title a:hover { color: #000000;    text-decoration: underline; }

.help { height:25px;}
.help_a { width:66px; height:20px;}
.help ul { list-style:none;}
.h1 li {}

#content {
    width:776px;
    padding-bottom:0px;
    min-height: 270px; /* For Modern Browsers */
    height: auto !important; /* For Modern Browsers */
    height: 50%; /* For IE */ 	
    border-left:1px solid #B1B1B1;
    border-right:1px solid #B1B1B1;
}
#content:after {
    clear: both;
    display: block;
    font: 1px/0px serif;
    content: ".";
    height: 0;
    visibility: hidden;
}
#content li {
    list-style:none;
    display:block;
}
#line {
    position:absolute; 
    width:430px; 
    height:15px; 
    left:188px;
    border-bottom:1px solid #336699;
}
#div1 {
    width:534px;
    float:left;
    margin-top:20px;
}
#div1 { margin-left:20px; /* FF */ }
*html #div1 { margin-left:20px; /* IE6 */ }
*+html #div1 { margin-left:20px; /* IE7 */ }

.space_0 {
    padding-left:40px!important; /* IE7+FF */
    padding-left:20px;
}

#div1_1 {
    width:524px;
    float:left;
    margin-left:40px;
    margin-top:40px;
}
#div2 {
    padding-left:179px;
    padding-top:10px;
}
#div3 {
    padding-left:179px;
    padding-top:30px;
}
#div4 {
    height:30px;
    width:450px;    
}

.pvc_0{
    position:relative;
}
.pvc_1{
    margin-left:100px;
    width:18px;
    overflow:hidden;
} 

.pvc_2{
    width:85px;
    margin-left:-100px
}

.pvc_3{
    width:65px;
    position:absolute;
    left:2px;
    top:2px;
    height:18px
} 


table.item {
    width:450px;
}
table.item_1 {
    position:absolute;
    padding-left:50px;
}
.title_1 {
    background-color:#3d9e01;
    text-align:center;
    height:18px;
}
table.item tr.title_2 {
    background-color:#FFFFFF;
    text-align:center;
    height:18px;
}
table.item tr.title_3 {
    background-color:#EEF7FF;
    text-align:center;
    height:18px;
}
table.item td.button_td {
    text-align:right;
}
.white {
    background-color:#FFFFFF; 
    text-align:center;   
    height:25px;
}
.blue {
    background-color:#f7f7f7; 
    text-align:center;   
    height:25px;
}
table.item_2 {
    width:530px;
}
table.item_3 {
    width:550px;
}
table.item_4 {
    width:508px;
}


.bottom_div { float:left;padding-top:30px;height:28px; }
.bottom_table { width: 774px; height: 28px;}
.bottom_td1 { width:156px;height:28px;}
.bottom_td2 { width:53px;}
.bottom_td3 { width:563px;background-color:#81d549;margin-right:2px;text-align:right;}

.copyright {font-size:12px;font-family:Arial;float:left;display:block;height:16px;width:776px; padding-top:10px; border-left:1px solid #B1B1B1; border-right:1px solid #B1B1B1; text-align:center;}
.bottom_line {float:left;display:block;background-color:#5aa929;height:8px; width:778px;}

.submit {padding-top:2px;}
#bottomx {
    width: 100%;
    position: absolute;
    bottom: 0 !important;
    bottom: -1px; /* For Certain IE widths */
    height: 1px;
}
.hand { cursor:pointer }

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:active { text-decoration: none; }
a:hover { text-decoration:none; }

.h1 a:link { color: #005207;font-weight: bold;    text-decoration: none; }
.h1 a:visited { color: #005207;font-weight: bold;    text-decoration: none; }
.h1 a:active { color: #FFFFFF;font-weight: bold;    text-decoration: none; }
.h1 a:hover { color: #005207;font-weight: bold;    text-decoration: none; }

.h2 a:link { color: #000000;    text-decoration: none; }
.h2 a:visited { color: #000000;    text-decoration: none; }
.h2 a:active { color: #000000;    text-decoration: none; }
.h2 a:hover { color: #000000;    text-decoration: none; }

.h3 a:link { color: #000000;    text-decoration: none; }
.h3 a:visited { color: #000000;    text-decoration: none; }
.h3 a:active { color: #000000;    text-decoration: none; }
.h3 a:hover { color: #000000;    text-decoration: none; }


.h3_s { color: #000000;    } 


.p {
    padding-top:3px;
    line-height:1.2em;
}
.hand { 
    cursor:pointer
}
.type{ position:absolute;top:32px;right:25px;font:20px Arial,sans-serif;color:#fff;z-index:999; }

.notewlan { 
    position:absolute;
    left:250px;
    height:30px;
    margin-top:8px;
}
.notewlan1 { 
    margin-top:18px;
    text-align:left;
    margin-left:60px;
}

.hreftext a:link { color: #0000ff;    text-decoration: underline; }
.hreftext a:visited { color: #0000ff;    text-decoration: underline; }
.hreftext a:active { color: #0000ff;    text-decoration: underline; }
.hreftext a:hover { color: #ff0000;    text-decoration: underline; }
.dragAble {position:relative;cursor:move;}

html, body {
    height: 100%; /* Required */
    font-size: 12px;
    background-color:#fff; /* 613000551662 - style unifys in case window color changes */
}

.content {
    font-size: 12px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.note{
    font-size: 12px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    color:#FFFF00;
}
.notecontent{
    font-size: 12px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    color:#000000;
}
.button {
    height:23px;
    width:73px;
    vertical-align:middle;
    text-align:center;
    font-size: 12px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.button2,.button3,.button4 {
    height:20px;
    vertical-align:middle;
    text-align:center;
    font-size: 12px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.button2 {
    width:61px;
}
.button3 {
    width:80px;
}
.button4 {
    width:110px;
}

.help_button {
    height:23px;
    width:47px;
    vertical-align:middle;
    text-align:center;
}

.inputId,.inputId2,.inputId3,.inputId4,.inputId5,.inputId6,.inputId7,.inputId8,.inputId9 {
    height:17px;
    border:1px solid #7F9DB7;
    font-size: 12px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    vertical-align:middle;
    text-align:left;
}
.inputId {
    width:120px;
}
.inputId2 {
    width:85px;
}
.inputId3 {
    width:17px;
}
.inputId4 {
    width:100px;
}
.inputId5 {
    width:105px;
}
.inputId6 {
    width:230px;
}
.inputId7 {
    width:30px;
}
.inputId8 {
    width:160px;
}
.inputId9 {
    width:65px;
}

.list_3,.list_5,.list_6,.list_7,.list_9,.list_10,.list_11 {
    height:19px;
    border:1px solid #7F9DB7;
    font-size: 12px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    vertical-align:middle;
    text-align:left;
}
.list_3 {
    width:370px;
}
.list_5 {
    width:55px;
}
.list_6 {
    width:120px;
}
.list_7 {
    width:65px;
}
.list_9 {
    width:235px;
}
.list_10 {
    width:140px;	
}
.list_11{
    width:190px;
}

.textarea_1 {
    height:200px;
    width:440px;
    border:1px solid #7F9DB7;
    font-size: 12px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    text-align:left;
    resize: none; /* to fix border for google safari */
}
.uiNoBorder {
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    BORDER-LEFT: 0px;
    BORDER-BOTTOM: 0px;
    background:transparent;
    TEXT-ALIGN: center;
    font-size: 12px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

table.infor tr.white_1 {
    background-color:#FFFFFF;
}

table.infor td.tdright {
    padding-left:5px;
    text-align:left;
}
table.infor tr.blue_1 {
    background-color:#f7f7f7;    
}
table.table {
}
table.table td.td1 {
    width:40%;
    height:24px;
    text-align:right;	
}
table.table td.td1_1 {
    width:40%;
    height:18px;
    text-align:right;	
}
table.table td.td2 {
    text-align:left;
    padding-left:5px;
}
table.table td.td3 {
    height:36px;
    text-align:center;
}

table.table td.td5 {
    width:10%;
    height:24px;
    text-align:right;	
}
table.table td.td6 {
    width:40%;
    height:20px;
    text-align:right;	
}
table.table td.td7 {
    width:25%;
    height:24px;
    text-align: center;	
}
table.table td.td8 {
    width:15%;
    height:24px;
    text-align: center;	
}
table.table td.td9 {
    width:50%;
    height:24px;
    text-align: right;	
}
table.table td.td10 {
    text-align:left;
    padding-left:5px;
}


table.table td.td12 {
    text-align:right;	
}
table.table td.td13 {
    text-align:left;	
}
table.table td.td14 {
    text-align:left;
    padding-left:5px;
}
table.table td.td15 {
    text-align:center;
}
table.table td.td16{
    width:60%;
    height:24px;
    text-align: right;	
}
#div5 {
    width:550px;
    text-align:center;
    margin-top:40px;
}

.green { color:green;}
.red { color:red;}
/*help page xumei*/
.div1 {
    width:629px;
    float:right;
    padding-top:15px;
    margin-left:24px;
}

.p {
    padding-top:3px;
    line-height:1.2em;
}

.CNLTreeMenu img.s {cursor:pointer;vertical-align:middle;}
.CNLTreeMenu ul {padding:0;}
.CNLTreeMenu li {list-style:none;padding:0;}
.Closed ul {display:none;}
.Child img.s {background:none;cursor:default;}
#CNLTreeMenu1 ul {margin:0 0 0 17px;}
#CNLTreeMenu1 img.s {width:20px;height:15px;}
#CNLTreeMenu1 .Opened img.s {background:url(../img/opened.gif) no-repeat 0 0;}
#CNLTreeMenu1 .Closed img.s {background:url(../img/closed.gif) no-repeat 0 0;}
#CNLTreeMenu1 .Child img.s {background:url(../img/child.gif) no-repeat 3px 5px;}
#CNLTreeMenu1{float:left;width:249px;border:1px solid #FFFFFF;background:#FFFFFF;color:inherit;margin:3px;padding:3px;}
#CNLTreeMenu1 {padding-bottom:15px;}

.word-break-all{
  word-wrap:break-word;
}

.dmsPopUpDiv {
    position:absolute;
    z-index:9999;
    width:500px;
    height:200px;
    top:250px;
    left:225px;
    background-color:#EFEFEF;
    border: 2px solid #009900;
    padding:5px;
    overflow:auto;
    line-height:18px;
}

/* FHS 613001747135 ZXHN H298N V1.1.1T03_关于配置QOS页面，出现文字在框外的情况 20121129 */
#myLayer{
    border-style:solid;
    border-width:2px;
    border-color:#0B363C;

    background: -o-linear-gradient(90deg, #C6FFB4, #F9FFF5);
    background: -moz-linear-gradient(90deg, #C6FFB4, #F9FFF5);
    background: -webkit-gradient(linear, left bottom, left top, from(#C6FFB4), to(#F9FFF5) );

    /* IE6,IE7,IE8 */
    filter : progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9FFF5',endColorstr='#C6FFB4');

    position: absolute;
    z-index: 9;
    left: 506px;
    top: 140px;
    visibility: hidden;
}

div #layer_err_title{
    width:172px; height:29px;
    background: url(../img/pop_up_title.gif);
    no-repeat;
    z-index:11;
}

div #layer_err_content{
    position:relative;
    width:160px;
    z-index:999;
    padding-top:5px;
    padding-bottom:28px;
    padding-left:12px;
    padding-right:0px;
}

div #errnote{
    color: #FFFF00;
    font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 12px;
}

.multiImg_modify,.multiImg_delete,.multiImg_check ,.multiImg_modifydis ,.multiImg_deletedis {
    width:20px;
    height:20px;
    border:0px;
    padding:2px;
    cursor:pointer;
}
.multiImg_modify {
    background: url(../img/button_modify.gif) no-repeat; 
}

.multiImg_delete {
    background: url(../img/button_delete.gif) no-repeat; 
}

.multiImg_check {
    background: url(../img/button_check.gif) no-repeat; 
}

.multiImg_modifydis {
    background: url(../img/button_modify_dis.gif) no-repeat; 
}

.multiImg_deletedis {
    background: url(../img/button_delete_dis.gif) no-repeat; 
}
